.switch-container{
    
}

.admin-container {
    display: block;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    height: 70vh;
    justify-content: end;
    margin-right: 2rem;
}

.navigation-container {
    float: left;
    left: 0px;
    width: 400px;
}