body {
}
.artist-container {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-auto-rows: min-content;
}
.gallery-container {
    margin-top: 70px;
}
.artistName {
    margin-top:0;
}
.websiteLink {
    margin: 12px;
    border-color:black;
    border:1px;
}
.bio {
    margin: 12px;
    border: 1px solid #999;
    border-radius: 4px;
    height: 20rem;
}
.contact-button {
    margin:12px;
    border-radius: 12px;
}
